<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Home</title>
  <!-- layout의 head태그에 해당 내용이 자동으로 추가 된가-->
  <!-- 페이지 독립 css, js 추가 영역 -->
</head>

<div th:fragment="addLayout">
  <div class="border-start border-secondary h-100">
    <div class="pt-2 ps-1 border-bottom border-secondary">
      <h3 class="text-white">장소 추가</h3>
    </div>

    <div class="w-100 bg-light p-2" style="height: 84.4vh;">
      <form>
        <div class="mb-4">
          <label for="name" class="form-label">이름</label>
          <input type="text" class="form-control" id="name">
        </div>

        <div class="mb-4">
          <label for="disabledSelect" class="form-label">그룹</label>
          <select id="disabledSelect" class="form-select">
            <option>음식점</option>
            <option>카페</option>
          </select>
        </div>

        <div class="mb-4">
          <label for="address" class="form-label">주소</label>
          <input type="text" class="form-control" id="address">
        </div>

        <div class="mb-4">
          <label for="phone" class="form-label">전화번호</label>
          <input type="text" class="form-control" id="phone">
        </div>

        <div class="mb-4">
          <label for="comment" class="form-label">메모</label>
          <textarea class="form-control" rows="3" id="comment" placeholder="간단한 메모"></textarea>
        </div>

        <div class="mb-4">
          <label class="form-label" for="upload">Upload</label>
          <input type="file" class="form-control" id="upload">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>
</div>

<div th:fragment="infoLayout">
  <div class="border-start border-secondary h-100">
    <div class="pt-2 ps-1 border-bottom border-secondary">
      <h3 class="text-white">이름</h3>
    </div>

    <div class="lightNavi px-2 pt-1 w-100 border-bottom border-secondary">
      <div class="d-flex justify-content-between">
        <h5 class="text-light">카테고리</h5>
        <h5 class="text-light">★★★★★</h5>
      </div>
    </div>

    <div class="bg-light w-100 pt-2 px-3" style="height: 80.5vh;">
      <div class="w-100" style="height: 30vh;">
        <img th:src="@{/image/noImage.jpg}" width="100%" height="100%">
      </div>
      <div class="w-100 mt-2 pb-1 py-2 border-bottom">
        <h3> 주소 </h3>
        <h5> 강원도 춘천시 어쩌고 저쩌고</h5>
      </div>
      <div class="w-100 mt-2 pb-1 py-2 border-bottom">
        <h3> 전화번호 </h3>
        <h5> 033-000-0000</h5>
      </div>
      <div class="w-100 mt-2 pb-1 py-2 border-bottom">
        <h3> 메모 </h3>
        <h5> 메모메모 커피 맛있는집 메모메모</h5>
      </div>
    </div>
  </div>
</div>

</html>