<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Home</title>
    <!-- layout의 head태그에 해당 내용이 자동으로 추가 된가-->
    <!-- 페이지 독립 css, js 추가 영역 -->
</head>

<!-- 장소 추가 -->
<div th:fragment="addLayout">
    <div class="border-start border-secondary h-100">
        <div class="pt-2 ps-1 border-bottom border-secondary">
            <h3 class="text-white" id="title">장소 추가</h3>
        </div>

        <div class="w-100 bg-light p-2 scroll-div" style="height: 84.4vh;">
            <form id="addForm" th:action="@{/api/place/add}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="lonlat" id="lonlat">
                <input type="hidden" name="id" id="id">

                <div class="starRev mb-4">
                    <label class="form-label" for="rating"></label>
                    <input type="hidden" name="rating" id="rating" value="0">
                    <span class="starL">별_왼쪽</span>
                    <span class="starR">별_오른쪽</span>
                    <span class="starL">별_왼쪽</span>
                    <span class="starR">별_오른쪽</span>
                    <span class="starL">별_왼쪽</span>
                    <span class="starR">별_오른쪽</span>
                    <span class="starL">별_왼쪽</span>
                    <span class="starR">별_오른쪽</span>
                    <span class="starL">별_왼쪽</span>
                    <span class="starR">별_오른쪽</span>
                </div>

                <div class="mb-4">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="mb-4">
                    <label for="categorySelect" class="form-label">그룹</label>
                    <select id="categorySelect" class="form-select" name="category">
                      <option value="카페">카페</option>
                      <option value="음식점">음식점</option>
                      <option value="편의점">편의점</option>
                      <option value="마트">마트</option>
                      <option value="쇼핑">쇼핑</option>
                      <option value="기타">기타</option>
                  </select>
                </div>

                <div class="mb-4">
                    <label for="phone" class="form-label">전화번호</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>

                <div class="mb-4">
                    <label for="address" class="form-label">주소</label>
                    <textarea type="text" class="form-control" rows="3" id="address" placeholder="지도를 클릭하세요" name="address"></textarea>
                </div>

                <div class="mb-4">
                    <label for="comment" class="form-label">메모</label>
                    <textarea class="form-control" rows="3" id="comment" name="comment" placeholder="간단한 메모"></textarea>
                </div>

                <div class="mb-4">
                    <label class="form-label" for="upload">Upload</label>
                    <input type="file" class="form-control" id="upload" name="imageFiles" accept="image/jpeg, image/jpg, image/png, image/gif" multiple>
                </div>

                <button type="button" id="addSubmitBtn" class="btn btn-primary" onclick="clickAddSubmit()">작성 완료</button>
                <button type="reset" class="btn btn-warning">다시 입력</button>
            </form>
        </div>

    </div>
</div>

<!-- 장소 정보 -->
<div th:fragment="infoLayout">
    <div class="border-start border-secondary h-100 scroll-div" id="showPlaceInfo">

        <th:block th:object="${placeInfo}">
            <div class="pt-2 ps-1 border-bottom border-secondary">
                <h3 class="text-white" id="placeInfoName">이름</h3>
            </div>

            <div class="lightNavi px-2 pt-1 w-100 border-bottom border-secondary">
                <div class="d-flex justify-content-between">
                    <h5 class="text-light" id="placeInfoCategory">카테고리</h5>
                    <h5 class="text-light" id="placeInfoRating">
                        <div class="static-star mb-4">
                            <span class="static-starL">별_왼쪽</span>
                            <span class="static-starR">별_오른쪽</span>
                            <span class="static-starL">별_왼쪽</span>
                            <span class="static-starR">별_오른쪽</span>
                            <span class="static-starL">별_왼쪽</span>
                            <span class="static-starR">별_오른쪽</span>
                            <span class="static-starL">별_왼쪽</span>
                            <span class="static-starR">별_오른쪽</span>
                            <span class="static-starL">별_왼쪽</span>
                            <span class="static-starR">별_오른쪽</span>
                        </div>
                    </h5>
                </div>
            </div>

            <div class="bg-light w-100 pt-2 px-3" style="height: 80.5vh;">

                <!-- 이미지 뷰어 -->
                <div class="w-100" style="height: 30%;">
                    <img id="nonImage" th:src="@{/image/noImage.jpg}" width="100%" height="100%">

                    <div id="isImage" class="hideDiv w-100" style="height: 100%;">
                        <div id="carouselImageViewer" class="carousel slide h-100" data-bs-ride="carousel">
                            <!-- 이미지 인텍스 표시 -->
                            <div class="carousel-indicators" id="viewerIndex"> </div>

                            <!-- 이미지 -->
                            <div class="carousel-inner h-100" id="viewerItem"> </div>

                            <!-- 다음 이전 버튼 -->
                            <button class="carousel-control-prev custom-btn" type="button" data-bs-target="#carouselImageViewer" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next custom-btn" type="button" data-bs-target="#carouselImageViewer" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>

                        </div>
                    </div>

                </div>

                <div class="w-100 mt-2 pb-1 py-2 border-bottom">
                    <h3> 주소 </h3>
                    <h5 id="placeInfoAddress"> 강원도 춘천시 어쩌고 저쩌고</h5>
                </div>
                <div class="w-100 mt-2 pb-1 py-2 border-bottom">
                    <h3> 전화번호 </h3>
                    <h5 id="placeInfoPhone"> 033-000-0000</h5>
                </div>
                <div class="w-100 mt-2 pb-1 py-2 border-bottom">
                    <h3> 메모 </h3>
                    <h5 id="placeInfoComment"> 메모메모 커피 맛있는집 메모메모</h5>
                </div>
            </div>
        </th:block>

    </div>
</div>

<div th:fragment="ListLayout">
    <div class="list-group w-100 scroll-div" id="placeListDiv" style="height: 83vh;">
        <th:block th:each="place : ${places}">
            <a href="#" th:onclick="|clickListItem(${place.id});|" class="list-group-item list-group-item-action list-group-item-secondary mb-2">
                <div class="markerListInfo">
                    <input type="hidden" th:value="${place.address}">
                    <input type="hidden" th:value="${place.lonlat}">
                    <input type="hidden" th:value="${place.category}">
                    <input type="hidden" th:value="${place.id}">
                </div>

                <div class="row">
                    <div class="col-3 d-flex align-items-center">
                        <img th:if="${#strings.equals(place.category, '카페')}" src="/image/cafe.png" width="80%">
                        <img th:if="${#strings.equals(place.category, '편의점')}" src="/image/convenience.png" width="80%">
                        <img th:if="${#strings.equals(place.category, '마트')}" src="/image/mart.png" width="80%">
                        <img th:if="${#strings.equals(place.category, '음식점')}" src="/image/restaurant.png" width="80%">
                        <img th:if="${#strings.equals(place.category, '쇼핑')}" src="/image/store.png" width="80%">
                        <img th:if="${#strings.equals(place.category, '기타')}" src="/image/other.png" width="80%">
                    </div>

                    <div class="col-9">
                        <h4 th:text="${place.name}"> Title </h4>
                        <span th:text="${place.comment}"> Comment </span>
                    </div>
                </div>
            </a>
        </th:block>
    </div>
</div>

<!--<div id="carouselImageViewer" class="carousel slide" data-bs-ride="carousel">
    &lt;!&ndash; 이미지 인텍스 표시 &ndash;&gt;
    <div class="carousel-indicators" id="viewerIndex"> </div>

    &lt;!&ndash; 이미지 &ndash;&gt;
    <div class="carousel-inner" id="viewerItem"> </div>

    &lt;!&ndash; 다음 이전 버튼 &ndash;&gt;
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImageViewer" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImageViewer" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>-->

</html>