<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/baseLayout}">

<head>
  <title>Home</title>
  <!-- layout의 head태그에 해당 내용이 자동으로 추가 된가-->
  <!-- 페이지 독립 css, js 추가 영역 -->
</head>

    <div id="map" class="w-100 h-100" th:fragment="map"></div>


    <div th:fragment="map-utils">

        <div id="popup" class="ol-marker-pop">
            <div id="popup-content">
                <!--<img class="marker" src="/image/pin/pin.png">-->
            </div>
        </div>

        <div class="position-absolute top-0 end-0 mt-2 me-5">
            <select class="form-select" id="selMap" onchange="selectMap()">
                <option value="osm" selected>OSM - 일반도</option>
                <option value="v2">브이월드 - 일반도</option>
                <option value="vs">브이월드 - 위성도</option>
                <option value="k2">카카오 - 일반도</option>
                <option value="kg">카카오 - 지형도</option>
                <option value="ks">카카오 - 위성도</option>
                <option value="n2">네이버 - 일반도</option>
                <option value="ng">네이버 - 지형도</option>
                <option value="ns">네이버 - 위성도</option>
            </select>
        </div>

        <div style="display: none;">
            <div id="defaultPin">
                <img class="marker" src="/image/pin/pin.png">
            </div>
            <div id="cafePin">
                <img class="marker" src="/image/pin/pin-cafe.png">
            </div>
            <div id="conveniencePin">
                <img class="marker" src="/image/pin/pin-convenience.png">
            </div>
            <div id="martPin">
                <img class="marker" src="/image/pin/pin-mart.png">
            </div>
            <div id="otherPin">
                <img class="marker" src="/image/pin/pin-other.png">
            </div>
            <div id="restaurantPin">
                <img class="marker" src="/image/pin/pin-restaurant.png">
            </div>
            <div id="shopPin">
                <img class="marker" src="/image/pin/pin-shop.png">
            </div>
        </div>
    </div>

</html>