<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">
    <form th:action="@{/member/login}" method="post">
        <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            계정 정보가 올바르지 않습니다.
        </div>
        <div class="alert alert-info" th:if="${param.logout}">
            로그아웃 했습니다.
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>

        <!--<div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>-->

        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Sign in</button>
        <a href="" th:href="@{/member/register}" type="button" class="w-100 btn btn-lg btn-secondary">Sign up</a>
        <p class="mt-5 mb-3 text-muted">© My Place 2021–2021</p>
    </form>
</main>

</body>
</html>
