<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">

  <div style="height: 9.7vh;">
    <nav class="navbar navbar-dark border-bottom skyBlue">
      <div class="mb-2 ms-3">
        <a href="/" class="navbar-brand fs-2 fw-bold">
          My Place
        </a>
      </div>

      <div class="text-end">
          <a href="#" th:href="@{/member/login}" type="button" class="btn btn-light me-3">로그인</a>
      </div>
    </nav>
    <nav class="navbar border-bottom border-secondary border-2 lightSkyBlue"></nav>
  </div>

</header>
</html>