.ol-zoom {
        top: 8px;
        left: auto;
        right: 8px;
}

.ol-marker-pop {
    position: absolute;
    left: -20px;
    top: -40px;
}

.ol-marker-pop:hover {
    -webkit-filter: invert(20%);
}

.ol-marker-highlight {
    /*-webkit-filter: invert(100%);*/

    /*-webkit-filter: contrast(180%);
    filter: contrast(180%);*/

    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
}