.starL{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starL.on{background-position:0 0;}
.starR.on{background-position:-15px 0;}

.static-starL{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -34px 0;
    background-size: auto 100%;
    width: 10px;
    height: 20px;
    float:left;
    text-indent: -9999px;
}
.static-starR{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 10px;
    height: 20px;
    float:left;
    text-indent: -9999px;
}
.static-starL.on{background-position:0 0;}
.static-starR.on{background-position:-10px 0;}